<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993067868104-dt5do6efrsvuk1hh0tdpmkk9anho2atc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993067868104-dt5do6efrsvuk1hh0tdpmkk9anho2atc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>993067868104-52fev9ea6h8ig4vkcomesasoqsnsu12a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCoeyLgAzA0bXfixmFsEwBPa-9Ly7a5JcY</string>
	<key>GCM_SENDER_ID</key>
	<string>993067868104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.easyhelp</string>
	<key>PROJECT_ID</key>
	<string>heelp-89c02</string>
	<key>STORAGE_BUCKET</key>
	<string>heelp-89c02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993067868104:ios:82f75280c8521697992afd</string>
</dict>
</plist>